:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 350px;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}

.stats-cards {
    .mat-card {
      overflow: hidden;
      width: 100%;
    }
}
  
table {
  width: 100%;
}

mat-card{
  width: 350px;
  height: 400px;
  display: block;
  margin-left:auto;
  margin-right:auto;  
  vertical-align:middle;
}
